.header {
  width: 100%;
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #5e5e5e;
  font-weight: 700;
  font-size: 24px;
  .userArea {
    display: flex;
    align-items: center;
    .userImage {
      width: 74px;
      height: 74px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .userInfo {
      .todoInfo {
        color: #ef6161;
      }
    }
  }
  .pageTitle {
    font-size: 64px;
    transform: translateX(-100px);
  }
  a {
    color: #b47aea;
    transition: 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.8);
    }
  }
}
